.logo{
    height: 100%;
    width: 100%;
}

.logo-button{
    cursor: pointer;
    height: 7.5%;
    width: 7.5%;
    --padding-start: 0;
    --padding-end: 0;

    &::part(native) {
      padding: 0;
    }
}