<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>a button</ion-menu-button>
    </ion-buttons>
    <ion-button> Events </ion-button>
    <ion-button> Calendar </ion-button>
    <ion-button> News </ion-button>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">items</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">heloooooo</strong>
    <div> </div>
    <ion-text> this is text about bobbby byars</ion-text>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
